html, body {
    height: 100%;
}

h2, h4 {
    font-style: italic;

}
#main {
    min-height:100%;
    position: relative;
    background-color: rgb(100,255,255);
}
header {
    height:120px;
    background-color: rgb(146, 238, 179);
    text-align: center;
    font-size: 2em;
}
span.warning {
    color: red;
}
aside {
    float: right;
    margin: 20px;
    background-color: chartreuse;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(179, 245, 195);
    text-align: center;
}



