
body{
    padding-bottom: 120px;
    clear: both;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
}


h2, h4 {
    font-style: italic;
margin-top: 0 ;
}
#main {
    min-height:100%;
    position: relative;
    background-color: rgb(100,255,255);
}
header {
    height:120px;
    background-color: rgb(146, 238, 179);
    text-align: center;
    font-size: 2em;
}
span.warning {
    color: red;
}
span.form_name{
    color: black;
    font-style: normal;
    font-weight: bold;
    ;
}
aside {
    float: right;
    margin: 20px;
    background-color: chartreuse;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(179, 245, 195);
    text-align: center;
}



