<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ithive.loc/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ithive.loc/index.php [L]
#RewriteRule (.*) /ithive.loc/index.php?$1 [QSA,L]
</IfModule>


#Добавление слеша в конце RequestURI
#RewriteEngine On
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !(.*)/$
#RewriteRule ^(.*[^/])$ $1/ [L,R=301]